<config>
<model>
  <name>1D Replicator, Depth 12</name>
  <desc> This is a description. </desc>
</model>
<param>
  <dim> 2 </dim>
  <bounds>
    <lower> 5.0 6.0 </lower>
    <upper> 8.0 9.0 </upper>
  </bounds>
  <subdiv>
    <depth> 6 </depth>
    <sizes> 64 64  </sizes>
  </subdiv>
</param>
<phase>
  <dim> 1 </dim>
  <bounds>
    <lower> 0.0 </lower>
    <upper> 1.0 </upper>
  </bounds>
  <subdiv>
    <init> 0 </init>
    <min> 14 </min>
    <max> 16 </max>
    <limit> 10000 </limit>
  </subdiv>
</phase>
</config>
