<config>
<model>
  <name>Multiplicative Weights Update (2D)</name>
  <desc> An algorithm for learning dynamics. </desc>
</model>
<param>
  <dim> 2 </dim>
  <bounds>
    <lower> 4.0 0.0 </lower>
    <upper> 54.0 1.0 </upper>
  </bounds>
  <subdiv>
    <depth> 5 </depth>
    <sizes>  32 32 </sizes>
  </subdiv>
</param>
<phase>
  <dim> 2 </dim>
  <bounds>
    <lower> 0.0 0.0 </lower>
    <upper> 1.0 1.0 </upper>
  </bounds>
  <subdiv>
    <init> 12 </init>
    <min> 20 </min>
    <max> 20 </max>
    <limit> 10000 </limit>
  </subdiv>
</phase>
</config>
